<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.sweet.playe">

    <application
        android:name=".app.TreasureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/treasure_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/treasure_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreasuresScroll"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.TreasureScroll"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/fb_tkn" />

        <activity
            android:name=".view.TreasureActivityWebView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.TreasureActivityLoading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>